Server/data/dtds/session.dtd

<!ELEMENT session (time, hr_data, gaze_data)>
<!ATTLIST session id CDATA #REQUIRED>
<!ELEMENT hr_data (hr_element*)>
<!ELEMENT hr_element (time, pulse)>
<!ELEMENT gaze_data (gaze_element*)>
<!ELEMENT gaze_element (time, yaw, pitch)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT pulse (#PCDATA)>
<!ELEMENT yaw (#PCDATA)>
<!ELEMENT pitch (#PCDATA)>